/* body common part section css */

body {

    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.bgBlack {
    background-color: #000000;
}

.bgGray {
    background-color: #222222;
}

.font78 {
    font-size: 78px;
}

.font48 {
    font-size: 48px;
}

.font40 {
    font-size: 40px;
}

.font32 {
    font-size: 32px;
}

.font28 {
    font-size: 28px;
}

.font24 {
    font-size: 23px;
}

.font18 {
    font-size: 18px;
}

.font16 {
    font-size: 16px;
}

.font14 {
    font-size: 14px;
}

.font13 {
    font-size: 13px;
}

.fontw800 {
    font-weight: 800;
}

.fontw600 {
    font-weight: 600;
}

.fontw500 {
    font-weight: 500;
}

.fontw400 {
    font-weight: 400;
}

.fontwbolder {
    font-weight: bolder;

}

.opacity5 {
    opacity: 0.5
}

.opacity6 {
    opacity: 0.6
}

.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
}

.lineheight18 {
    line-height: 18px;
}

.lineheight24 {
    line-height: 24px;
}

/* header section */

.hamburger {
    display: none;
}

.headerbg {
    background-color: #111111;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 58px 190px;

}

.page-title {
    color: rgb(230, 83, 60);
}

.navigation {}

ul {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1px 0px;
    border-radius: 40px;


}

ul li {
    list-style-type: none;
    margin-left: 47px;
    padding: 8px 20px;
    border-radius: 46px;
    color: white;
    size: 18px;
    text-align: center;


}

ul li:first-child {
    margin-left: 0;
}

ul li:hover {
    background-color: #E6533C;

}

ul li:hover a {
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* responsive */

@media screen and (max-width:576px) {

    /* shared-styles */

    .font78 {
        font-size: 36px;
    }

    .font48 {
        font-size: 32px;
    }

    .font40 {
        font-size: 30px;
    }

    .font32 {
        font-size: 32px;
    }

    .font28 {
        font-size: 20px;
    }

    .font24 {
        font-size: 18px;
    }

    .font16 {
        font-size: 13px;
    }

    .font13 {
        font-size: 10px;
    }

    .header {
        padding: 20px 52px;
    }

    .container {
        max-width: 515px;
    }

    /* header section */

    ul {
        display: none;
    }

    .hamburger {
        display: block;
        width: 45px;
        height: 45px;
    }

    .page-title {}
}