/* body common part section css */

* {
    /* border: 1px solid yellowgreen; */
}

body {

    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0 auto;
}

span {
    font-family: "Great Vibes", cursive;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: .5px;

}

.bgBlack {
    background-color: #000000;
}

.bgGray {
    background-color: #222222;
}

.font100 {
    font-size: 100px;
}

.font78 {
    font-size: 78px;
}

.font48 {
    font-size: 48px;
}

.font40 {
    font-size: 40px;
}

.font32 {
    font-size: 32px;
}

.font28 {
    font-size: 28px;
}

.font24 {
    font-size: 23px;
}

.font18 {
    font-size: 18px;
}

.font16 {
    font-size: 16px;
}

.font14 {
    font-size: 14px;
}

.font13 {
    font-size: 13px;
}

.fontw800 {
    font-weight: 800;
}

.fontw600 {
    font-weight: 600;
}

.fontw500 {
    font-weight: 500;
}

.fontw400 {
    font-weight: 400;
}

.fontwbolder {
    font-weight: bolder;

}

.opacity5 {
    opacity: 0.5
}

.opacity6 {
    opacity: 0.6
}

.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
}

.lineheight18 {
    line-height: 18px;
}

.lineheight24 {
    line-height: 24px;
}

/* header section */

.hamburger {
    display: none;
}

.bgGradient {
    /* background-image: radial-gradient( #242323 ,#111111, #000000); */
    background-image: repeating-linear-gradient(#000000 -20%, #242323 50%, #000000 100%);
    height: 680px;


}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 170px;
}

.page-title {
    color: rgb(230, 83, 60);
    transition: all 0.3s ease-in-out;
}

.page-title:hover {
    transform: scale(1.15) skewX(13deg)
}


ul {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1px 0px;
    border-radius: 40px;


}

ul li {
    list-style-type: none;
    margin-left: 25px;
    padding: 8px 20px;
    border-radius: 46px;
    color: white;
    size: 18px;
    text-align: center;
    transition: all .2s;

}

ul li:first-child {
    margin-left: 0;
}

ul li:hover {
    background-color: #E6533C;


}

a {
    text-decoration: none;
}

/* banner-styles */

.hero {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

}

.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -40px;

}

.banner-title {
    line-height: 80px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 28px;
}

.banner-description {
    margin-top: 0px;
    margin-bottom: 28px;
}

/* button start */

.btn-primary {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px;
    background: rgb(230, 83, 60);
    border: none;
    margin-right: 14px;
    margin-left: 0px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    border: 1px solid rgb(230, 83, 60);
    color: rgb(230, 83, 60);
}

.btn-secondary {
    width: 224px;
    height: 54px;
    padding: 16px 40px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 42px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-secondary:hover {
    background: white;
    color: #000000;
}

/* button end */

.img-1 {
    position: relative;
    height: 525px;
    margin-left: 0px;
    margin-top: -40px;
}

.image>img {
    width: 90%;
}

.img-1>img {
    height: 100%;
}

/* blurbox start */

.blur-1,
.blur-2 {
    display: flex;
    position: absolute;
    border-radius: 12px;
    backdrop-filter: blur(4px);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

.blur-1 {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 180px;
    height: 98px;
    left: 60%;
    top: 20%;
}

.blur-2 {
    justify-content: space-evenly;
    align-items: center;
    width: 190px;
    height: 85px;
    right: 75%;
    top: 67%;
}

.blur-title-1 {
    text-align: left;
    margin: -5px 0px 0px 24px;
}

.blur-title-2 {
    margin: -5px 0px 5px 0px;
}

.blur-description-1 {
    margin: 0px 0px 0px 24px;
}

.blur-description-2 {
    margin: 0px;
}

.circle {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 100%;
    margin-right: 0px;
}

/* habit-start */

.habit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.habit-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -15px;
}

.habit-section-title {
    margin: 0;
}

.habit-section-description {
    text-align: center;
}

.habit-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 58px 40px 0px 40px;
}

.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px 0px 40px;
}

.habit-img>img {
    border: 5px solid rgb(31, 30, 30);
    border-radius: 100%;
    transition: border 0.3s ease-in-out;
    cursor: pointer;
}

.habit-img>img:hover {
    border: 5px solid rgb(230, 83, 60);
    ;
}

.card-title {
    text-align: center;
    margin: 20px 0px 5px 0px;
}

.card-description {
    text-align: center;
    margin: 5px 0px 0px 0px;
}

/* habit section end */

/* task section start */

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    border-radius: 18px;
    padding: 30px;
    background: rgb(34, 34, 34);
}

.task-content-1 {
    margin: 0px 0px 0px 30px;
}

.task-section-title {
    margin: 0;
    text-align: left;
}

.task-section-description {
    text-align: left;
    margin-bottom: 30px;
    line-height: 24px;
}

.task>img {
    width: 31%;
    border-radius: 18px;
}

.img-resp {
    display: none;
}

/* task section end */

/* team section start */

.team {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.team-section-title {
    margin: 0;
}

.team-section-description {
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.team-content-2 {
    max-width: 1000px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

/* responsive */

@media screen and (max-width:576px) {

    /* shared-styles */

    .font100 {
        font-size: 70px
    }

    .font78 {
        font-size: 36px;
    }

    .font48 {
        font-size: 32px;
    }

    .font40 {
        font-size: 25px;
    }

    .font32 {
        font-size: 32px;
    }

    .font28 {
        font-size: 20px;
    }

    .font24 {
        font-size: 18px;
    }

    .font18 {
        font-size: 14px;
    }

    .font16 {
        font-size: 13px;
    }

    .font13 {
        font-size: 10px;
    }

    br {
        display: none;
    }

    .header {
        padding: 20px 0px;
    }

    .container {
        padding: 10px 15px;

    }

    /* header section */

    ul {
        display: none;
    }

    .hamburger {
        display: block;
        width: 45px;
        height: 45px;
    }

    /* hero */

    .bgGradient {
        height: 1050px;
    }

    .hero {
        flex-direction: column;
        padding: 0px;
        height: 915px;
    }

    .banner {
        width: 100%;
        height: 360px;
    }

    .banner-title {
        line-height: 55px;
        width: 85%;
        margin-bottom: 20px;
        font-size: 50px;
    }

    .banner-description {
        width: 75%;
    }

    .btn-primary {
        width: auto;
        height: auto;
        padding: 15px 30px;
    }

    .btn-secondary {
        width: auto;
        height: auto;
        padding: 15px 30px;
    }

    .image>img {
        width: 100%;
    }

    .img-1 {
        margin-top: 100px;
        margin-left: 60px;
        width: 75%;
        height: auto;
    }

    .blur-1 {
        width: 130px;
        height: 60px;
        top: 10%;
        left: 60%;
    }

    .blur-2 {
        width: 150px;
        height: 70px;
        right: 64%;
        top: 42%;
        justify-content: space-around;
    }

    .circle {
        margin-left: 10px;
        width: 30px;
        height: 30px;
    }

    .seperation {
        margin: 0px 5px 0px 5px;
    }

    .blur-title-1 {
        margin: -5px 0px 0px 15px;
    }

    .blur-description-1 {
        margin: 0px 0px 0px 15px;
    }

    /* habit-start */

    .habit-content-1 {
        margin-top: -70px;
    }

    .habit-content-2 {
        flex-direction: column;
    }

    .card-1 {
        margin: 48px 40px 5px 40px;
    }

    .card-2 {
        margin: 48px 40px 5px 40px;
    }

    /* habit end */

    /* task start */

    .task {
        margin-top: 60px;
        flex-direction: column;
    }

    .task-content-1 {
        margin: 0;
    }

    .task-btn {
        margin: -15px 0px 30px 0px;
        padding: 20px 40px;
        width: 100%;
        font-size: 18px;
    }

    .t-br {
        display: block;
    }

    .task>img {
        width: 100%;
    }

    .img-def {
        display: none;
    }

    .img-resp {
        display: block;
    }

    /* task end */
}